body{
    background: url("giphy\ \(1\).gif") no-repeat center;
}

.container{
    text-align: center;
    margin-top: 23px;
}
h1{
    color:rgb(0, 0, 0); 
}
h3{
    color:rgb(149, 192, 235);
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 23px;
    border-radius: 2%;
    border-color: forestgreen;
    border-width: medium
}
button{
    font-size: 30px;
    background-color: #e8cfff;
    height: 62px;
    width: 70px;
    border-radius: 34%;
}
.calculator{
    display: inline-block;
    background-color: rgb(204, 121, 224);
    border-radius: 9%;
    padding: 14px;
}